# Importimised

In [1]:
import pandas as pd

In [15]:
#!pip install pandas openpyxl

# sisselugemised

In [23]:
#excel file 1
EEB_samples = pd.ExcelFile('EEB_samples.xlsx') #file

samples_table = EEB_samples.parse('full_table') #sheet name
samples_reynoutria = EEB_samples.parse('reynoutria') 
samples_solidago = EEB_samples.parse('solidago') 

#excel file 2
EEB_soil_chemistry = pd.ExcelFile('EEB_soil_chemistry.xlsx')

soil = EEB_soil_chemistry.parse('Sheet1')

#excel file 3
plant_survey = pd.ExcelFile('Plant_survey_2023_final.xlsx') 

plant = plant_survey.parse('Sheet1')

## samples

In [18]:
samples_table.head()

,new_code,project,plant_sp,sampling_area(on_bag),treatment,sampling_area_nr,gradient,grad_nr,plant_nr,expert,area,lat,lon,status _dna_extraction
0,EEB-RJ1-1,EEB,RJ,Mustvee,control,1,invaded,1,1,Kadri,E,58.858114,26.931854,NaN
1,EEB-RJ1-2,EEB,RJ,Mustvee,control,1,invaded,2,2,Kadri,E,58.858114,26.931854,NaN
2,EEB-RJ1-3,EEB,RJ,Mustvee,control,1,invaded,3,3,Kadri,E,58.858114,26.931854,NaN
3,EEB-RJ1-4,EEB,RJ,Mustvee,control,1,transitional,1,4,Kadri,E,58.858114,26.931854,NaN
4,EEB-RJ1-5,EEB,RJ,Mustvee,control,1,transitional,2,5,Kadri,E,58.858114,26.931854,NaN

samples_table['status _dna_extraction'] nan nulliks, completed üheks ehk

In [19]:
samples_reynoutria.head()

,new_code,project,plant_sp,sampling_area(code_on_bag),treatment,sampling_area_nr,gradient,grad_nr,plant_nr,expert,area
0,EEB-RJ1-1,EEB,RJ,Mustvee,control,1,invaded,1,1,Kadri,E
1,EEB-RJ1-2,EEB,RJ,Mustvee,control,1,invaded,2,2,Kadri,E
2,EEB-RJ1-3,EEB,RJ,Mustvee,control,1,invaded,3,3,Kadri,E
3,EEB-RJ1-4,EEB,RJ,Mustvee,control,1,transitional,1,4,Kadri,E
4,EEB-RJ1-5,EEB,RJ,Mustvee,control,1,transitional,2,5,Kadri,E

reynoutria project tulp kasutu, kõik väärtused EEB
plant_sp kasutu, kõik väärtused RJ

In [20]:
samples_solidago.head()

,new_code,project,plant_sp,sampling_area(code_on_bag),treatment,sampling_area_nr,gradient,grad_nr,plant_nr,expert,area
0,EEB-SC1-1,EEB,SC,Jõgeva,control,1,invaded,1,1,Kadri,E
1,EEB-SC1-2,EEB,SC,Jõgeva,control,1,invaded,2,2,Kadri,E
2,EEB-SC1-3,EEB,SC,Jõgeva,control,1,invaded,3,3,Kadri,E
3,EEB-SC1-4,EEB,SC,Jõgeva,control,1,transitional,1,4,Kadri,E
4,EEB-SC1-5,EEB,SC,Jõgeva,control,1,transitional,2,5,Kadri,E

solidagos eksperdi nimi pole ilmselt oluline

 ## soil chemistry

In [24]:
soil.head()

,ala_kood,Proovi nimetus,Nr.,Jrk. nr.,pHKCl,P-AL,K-AL,Ca-AL,Mg-AL,N -Kjeldahl,C-Tjurin
0,NaN,NaN,NaN,NaN,NaN,mg/kg,mg/kg,mg/kg,mg/kg,%,%
1,EEB-SC2,Raadi_sol_can,1.0,21.0,6.98,110.955897,122.131311,9938.136101,491.4,0.277187,3.061475
2,EEB-SC6,Rõngu_sol_can_mowing,2.0,22.0,5.98,58.659218,163.407821,1006.783719,108.8,0.131683,1.432409
3,EEB-SC5,Rõngu_sol_can_steam,3.0,23.0,6.91,78.558771,113.998819,3593.227013,563.8,0.129682,1.280281
4,EEB-RJ4,Sangaste_Rey_Jap_cont,4.0,24.0,6.68,122.55489,84.231537,4658.483034,296.3,0.330927,3.975705

Ühikute rida eemaldada/ eraldada

Nr. tulp mõttetu

## plant survey

In [25]:
plant.head()

,sample,Reynoutria_japonica,Solidago_canadensis,Aegopodium_podagraria,Ranunculus_auricomus,Alopecurus_pratensis,Elymus_repens,Agrostis_capillaris,Festuca_rubra,Cirsium_arvensis,...,Plantago_lanceolata,Daucus_carota,Achillea_millefolia,Allium_scorodoprasum,Veronica_teucrium,Agrimonia_eupatoria,Plantago_media,Sonchus_arvensis,Prunus_domestica,Salix_alba
0,EEB-RJ5-1,60,0,5.0,0.5,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,EEB-RJ5-2,60,0,1.0,0.5,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,EEB-RJ5-3,90,0,5.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,EEB-RJ5-4,20,0,80.0,1.0,1.0,3.0,0.5,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,EEB-RJ5-5,10,0,70.0,0.0,0.0,3.0,0.5,0.5,0.5,...,0,0,0,0,0,0,0,0,0,0