## Importimised

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [15]:
#!pip install pandas openpyxl

# sisselugemised

In [4]:
#excel file 1
EEB_samples = pd.ExcelFile('EEB_samples.xlsx') #file

sample = EEB_samples.parse('full_table') #sheet name
#samples_reynoutria = EEB_samples.parse('reynoutria') #pole vaja vist
#samples_solidago = EEB_samples.parse('solidago') #pole vaja vist

#excel file 2
EEB_soil_chemistry = pd.ExcelFile('EEB_soil_chemistry.xlsx')

soil = EEB_soil_chemistry.parse('Sheet1')

#excel file 3
plant_survey = pd.ExcelFile('Plant_survey_2023_final.xlsx') 

plant = plant_survey.parse('Sheet1')

In [10]:
soil=soil.iloc[1:] #eemaldasin ühikute rea
soil= soil.reset_index(drop=True)

# asjalik

In [11]:
sample.head()

,new_code,project,plant_sp,sampling_area(on_bag),treatment,sampling_area_nr,gradient,grad_nr,plant_nr,expert,area,lat,lon,status _dna_extraction
0,EEB-RJ1-1,EEB,RJ,Mustvee,control,1,invaded,1,1,Kadri,E,58.858114,26.931854,NaN
1,EEB-RJ1-2,EEB,RJ,Mustvee,control,1,invaded,2,2,Kadri,E,58.858114,26.931854,NaN
2,EEB-RJ1-3,EEB,RJ,Mustvee,control,1,invaded,3,3,Kadri,E,58.858114,26.931854,NaN
3,EEB-RJ1-4,EEB,RJ,Mustvee,control,1,transitional,1,4,Kadri,E,58.858114,26.931854,NaN
4,EEB-RJ1-5,EEB,RJ,Mustvee,control,1,transitional,2,5,Kadri,E,58.858114,26.931854,NaN

In [12]:
soil.head()

,ala_kood,Proovi nimetus,Nr.,Jrk. nr.,pHKCl,P-AL,K-AL,Ca-AL,Mg-AL,N -Kjeldahl,C-Tjurin
0,EEB-SC6,Rõngu_sol_can_mowing,2.0,22.0,5.98,58.659218,163.407821,1006.783719,108.8,0.131683,1.432409
1,EEB-SC5,Rõngu_sol_can_steam,3.0,23.0,6.91,78.558771,113.998819,3593.227013,563.8,0.129682,1.280281
2,EEB-RJ4,Sangaste_Rey_Jap_cont,4.0,24.0,6.68,122.55489,84.231537,4658.483034,296.3,0.330927,3.975705
3,EEB-RJ1,Mustvee_Rey_Jap_cont,5.0,25.0,6.30,3.324208,159.170903,2712.749316,143.1,0.259012,3.017905
4,EEB-SC1,Jogeva_Sol_can_contr,6.0,26.0,6.95,30.739205,216.882166,44218.101976,902.0,1.333638,15.982513

In [13]:
plant.head()

,sample,Reynoutria_japonica,Solidago_canadensis,Aegopodium_podagraria,Ranunculus_auricomus,Alopecurus_pratensis,Elymus_repens,Agrostis_capillaris,Festuca_rubra,Cirsium_arvensis,...,Plantago_lanceolata,Daucus_carota,Achillea_millefolia,Allium_scorodoprasum,Veronica_teucrium,Agrimonia_eupatoria,Plantago_media,Sonchus_arvensis,Prunus_domestica,Salix_alba
0,EEB-RJ5-1,60,0,5.0,0.5,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,EEB-RJ5-2,60,0,1.0,0.5,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,EEB-RJ5-3,90,0,5.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,EEB-RJ5-4,20,0,80.0,1.0,1.0,3.0,0.5,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,EEB-RJ5-5,10,0,70.0,0.0,0.0,3.0,0.5,0.5,0.5,...,0,0,0,0,0,0,0,0,0,0

## samples

samples_table['status _dna_extraction'] nan nulliks, completed üheks ehk

eksperdi nime pole vast vaja

project tulp kasutu, kõik väärtused EEB

 ## soil chemistry

Ühikute rida eemaldada/ eraldada

## plant survey

In [32]:
plant.head()
plant.shape

(216, 222)

In [45]:

# Assuming df is your DataFrame
plant.describe

<bound method NDFrame.describe of          sample  Reynoutria_japonica  Solidago_canadensis  \
0     EEB-RJ5-1                   60                    0
1     EEB-RJ5-2                   60                    0
2     EEB-RJ5-3                   90                    0
3     EEB-RJ5-4                   20                    0
4     EEB-RJ5-5                   10                    0
..          ...                  ...                  ...
211  EEB-RJ11-5                    7                    0
212  EEB-RJ11-6                   12                    0
213  EEB-RJ11-7                    0                    0
214  EEB-RJ11-8                    0                    0
215  EEB-RJ11-9                    0                    0

     Aegopodium_podagraria  Ranunculus_auricomus  Alopecurus_pratensis  \
0                      5.0                   0.5                   0.0
1                      1.0                   0.5                   0.0
2                      5.0                   2.0                   0.0
3                     80.0                   1.0                   1.0
4                     70.0                   0.0                   0.0
..                     ...                   ...                   ...
211                  100.0                   0.0                   0.0
212                    6.0                   0.0                   0.0
213                   98.0                   0.0                   0.0
214                  100.0                   0.0                   0.0
215                    0.0                   0.0                   0.0

     Elymus_repens  Agrostis_capillaris  Festuca_rubra  Cirsium_arvensis  ...  \
0              0.0                  0.0            0.0               0.0  ...
1              0.0                  0.0            0.0               0.0  ...
2              0.0                  0.0            0.0               0.0  ...
3              3.0                  0.5            0.0               0.0  ...
4              3.0                  0.5            0.5               0.5  ...
..             ...                  ...            ...               ...  ...
211            0.0                  0.0            0.0               0.0  ...
212            0.0                  0.0            0.0               0.0  ...
213            0.0                  0.0            0.0               0.0  ...
214            0.0                  0.0            0.0               0.0  ...
215            0.0                  0.0            0.0               0.0  ...

     Plantago_lanceolata  Daucus_carota  Achillea_millefolia  \
0                      0              0                    0
1                      0              0                    0
2                      0              0                    0
3                      0              0                    0
4                      0              0                    0
..                   ...            ...                  ...
211                    0              0                    0
212                    0              0                    0
213                    0              0                    0
214                    0              0                    0
215                    0              0                    0

     Allium_scorodoprasum  Veronica_teucrium  Agrimonia_eupatoria  \
0                       0                  0                    0
1                       0                  0                    0
2                       0                  0                    0
3                       0                  0                    0
4                       0                  0                    0
..                    ...                ...                  ...
211                     0                  0                    0
212                     0                  0                    0
213                     0                  0                    0
214                     0                  0                    0
215                     0                  0                    0

     Plantago_media  Sonchus_arvensis  Prunus_domestica  Salix_alba
0                 0                 0                 0           0
1                 0                 0                 0           0
2                 0                 0                 0           0
3                 0                 0                 0           0
4                 0                 0                 0           0
..              ...               ...               ...         ...
211               0                 0                 0           3
212               0                 0                 0           0
213               0                 0                 0           0
214               0                 0                 0           0
215               0                 0                 0           0

[216 rows x 222 columns]>